// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-background-image:url("Odile2.jpg");
$header-bg-color: #e80680 !default;
$header-bg-color-secondary: #1e90ff !default;

// Text
$section-headings-color: #a50cea !default;
$body-text-color: #000000 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #d5a4e3 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
